    <!DOCTYPE html>
    <html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        {% block content %}
        <h1> Весёлый склад: 1.0 </h1>
            {% if stock_list %}
                <ul>
                 {% for stock in stock_list %}
                  <li>
                   <h3><a href="">{{ stock.name }}</a></h3>
                  </li>
                 {% endfor %}
                </ul>
            {% else %}
                <p>У вас пока нет складов.</p>
            {% endif %}
    {% endblock %}    
    </body>
    </html>