{% extends "base.html" %}

        {% block content %}
        <h1> Свои фирмы </h1>
        <h4><a href="">Создать фирму</a></h4>
            {% if owncompany_list %}
                <table class="table table-striped table-bordered table-hover">
                 <tr>
                  <th><h4>Название</h4></th>
                  <th><h4>Адрес</h4></th>
                  <th><h4>ИНН</h4></th>
                  <th><h4>ОГРН</h4></th>
                  <th><h4>email</h4></th>
                 </tr>
                 {% for own_company in owncompany_list %}
                 <tr>
                    <th><h5><a href="{% url 'owncompanydetail' own_company.pk %}">{{ own_company.name }}</h5></th>
                    <th><h5>{{ own_company.adress }}</a></h5></th>
                    <th><h5>{{ own_company.inn }}</h5></th>
                    <th><h5>{{ own_company.ogrn }}</h5></th> 
                    <th><h5>{{ own_company.email }}</h5></th>
                  </tr>
                 {% endfor %}
                </ul>
            {% else %}
                <p>У вас пока нет своих фирм.</p>
            {% endif %}
    {% endblock %} 