{% extends "base.html" %}

{% block title %}<h3 style="text-align: center;">Новое поступление</h3>{% endblock %}

{% block content %}
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Сохранить</button>
    <a href="{% url 'stocklist' %}">Отмена</a>
</form>
{% endblock %}


    <div>
        <h3>Позиции товаров</h3>
        {{ items.management_form }}
        {% for item_form in items %}
            <div class="item-form">
                {{ item_form.as_table }}
            </div>
        {% endfor %}
    </div>
    <button type="submit">Сохранить</button>
</form>
