{% extends "base.html" %}

        {% block content %}
        <h1> товары на складе {{ stock.name }} </h1>
            {% if stock_product_list %}
                <table class="table table-striped table-bordered table-hover">
                 <tr>
                  <th><h4>Наименование</h4></th>
                  <th><h4>Кол-во</h4></th>
                  <th><h4>Ед. изм.</h4></th>
                  <th><h4>Цена за единицу</h4></th>
                  <th><h4>Всего</h4></th>
                 </tr>
                 {% for product in stock_product_list %}
                 <tr>
                    <th><h5><a href="{% url 'productdetail' product.pk %}">{{ product.name }}</a></h5></th>
                    <th><h5>{{ product.quantity }}</h5></th>
                    <th><h5>{{ product.measure_unit }}</h5></th> 
                    <th><h5>{{ product.price }} р.</h5></th>
                    <th><h5>{{ product.total_value }}</h5></th>
                  </tr>
                 {% endfor %}
                </table>
            {% else %}
                <p>У вас пока нет товаров на этом складе.</p>
            {% endif %}
    {% endblock %}    
