{% extends "base.html" %}

        {% block content %}
        <h1> все покупки </h1>
            {% if stockin %}
                <table class="table table-striped table-bordered table-hover">
                 <tr>
                  <th><h4>Дата</h4></th>
                  <th><h4>Номер</h4></th>
                  <th><h4>Поставщик</h4></th>
                  <th><h4>Покупатель</h4></th>
                  <th><h4>Сумма</h4></th>
                 </tr>
                 {% for doc in stockin %}
                 <tr>
                    <th><h5><a href="">{{ stockin.in_date }}</a></h5></th>
                    <th><h5>{{ stockin.number }}</h5></th>
                    <th><h5>{{ stockin.supplier }}</h5></th> 
                    <th><h5>{{ stockin.buyer }} р.</h5></th>
                    <!-- <th><h5>{{ stockin.total_sum }}</h5></th> -->
                  </tr>
                 {% endfor %}
                </table>
            {% else %}
                <p>У вас пока нет покупок.</p>
            {% endif %}
    {% endblock %}