{% extends "base.html" %}

        {% block content %}
        <h1> все покупки </h1>
        <h4><a href="{% url 'stockincreate' %}">Новое поступление</a></h4>
            {% if stockin %}
                <table class="table table-striped table-bordered table-hover">
                 <tr>
                  <th><h4>Дата</h4></th>
                  <th><h4>Накладная</h4></th>
                  <th><h4>Счёт-фактура</h4></th>
                  <th><h4>Поставщик</h4></th>
                  <th><h4>Покупатель</h4></th>
                  <th><h4>Сумма</h4></th>
                  <th><h4>Комментарий</h4></th>
                 </tr>
                 {% for doc in stockin %}
                 <tr>
                    <th><h5><a href="">{{ stockin.in_date }}</a></h5></th>
                    <th><h5>{{ stockin.waybill_number }}</h5></th>
                    <th><h5>{{ stockin.invoice_number }}</h5></th>
                    <th><h5>{{ stockin.supplier }}</h5></th> 
                    <th><h5>{{ stockin.buyer }}</h5></th>
                    <th><h5>{{ stockin.stock_in_total }}</h5></th>
                    <th><h5>{{ stockin.comment }}</h5></th>
                  </tr>
                 {% endfor %}
                </table>
            {% else %}
                <p>У вас пока нет покупок.</p>
            {% endif %}
    {% endblock %}