{% extends "base.html" %}

{% block title %}<h3 style="text-align: center;">Все склады </h3>{% endblock %}

        {% block content %}
        <a href="{% url 'stock_create' %}">Создать склад</a>
            {% if stock_list %}
                <ul>
                 {% for stock in stock_list %}
                  <li>
                   <a href="{% url 'stockdetail' stock.id %}">{{ stock.name }}</a>
                  </li>
                 {% endfor %}
                </ul>
            {% else %}
                <p>У вас пока нет складов.</p>
            {% endif %}
        {% endblock %}    
