{% extends "base.html" %}

        {% block content %}
        <h1> карточка поставщика </h1>
                <ul>
                  <li><h5> {{ supplier.name }}</h5></li>
                  <li><h5> Адрес:  {{ supplier.adress }}</h5></li>    
                  <li><h5> ИНН:  {{ supplier.inn }}</h5></li>
                  <li><h5> ОГРН:  {{ supplier.ogrn }}</h5></li>
                  <li><h5> тел.:  {{ supplier.phone_number }}</h5></li>
                  <li><h5> email:  {{ supplier.email }}</h5></li>
                </ul>
          </table>
        {% endblock %}