{% extends "base.html" %}

        {% block content %}
        <h1> Поставщики </h1>
            {% if supplier_list %}
                <ul>
                 {% for supplier in supplier_list %}
                  <li>
                   <h5><a href="{% url 'supplierdetail' supplier.pk %}">{{ supplier.name }} , 
                    адрес: {{ supplier.adress }} , 
                    ИНН {{ supplier.inn }} , 
                    ОГРН {{ supplier.ogrn }} , 
                    email: {{ supplier.email }}</a></h5>
                  </li>
                 {% endfor %}
                </ul>
            {% else %}
                <p>У вас пока нет поставщиков
                    .</p>
            {% endif %}
    {% endblock %} 